@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

/* CABECALHO */
.cabecalho-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 3px 3px;
    margin-bottom: 5px;
    background: #056CF2;
    position: fixed;
    top: 0;
}


.cabecalho-container .cabecalho-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    gap: 10px;
    color: #fff;
}

/* LOGIN */
.div-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-container{
    position: relative;
    width: 259px;
    height: 287px;
    background: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.login-container::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 259px;
    height: 287px;
    background: linear-gradient(0deg,transparent, transparent, #0554F2,#0554F2,#0554F2);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.login-container::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 259px;
    height: 287px;
    background: linear-gradient(0deg,transparent, transparent, #056CF2,#056CF2,#056CF2);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 259px;
    height: 287px;
    background: linear-gradient(0deg,transparent, transparent, #034AA6, #034AA6,#034AA6);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 259px;
    height: 287px;
    background: linear-gradient(0deg,transparent, transparent, #056CF2, #056CF2,#056CF2);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-container form{
    position: absolute;
    background: #fff;
    padding: 3px 3px;
    border-radius: 8px;
    z-index: 2;
}

.login-container form h2{
    color: #034AA6;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
}

.login-container form .login-usuario{
    position: relative;
    width: 250px;
    margin-top: 35px;
}

.login-container form input{
    position: relative;
    width: 100%;
    padding: 10px 5px 5px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    transition: .5s;
    z-index: 10;
}

.login-container .login-usuario span{
    position: absolute;
    left: 0;
    padding: 10px 5px 5px;
    pointer-events: none;
    color: #056CF2;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.login-container form .login-usuario input:valid ~ span,
.login-container form .login-usuario input:focus ~ span{
    color: #034AA6;
    font-size: 12px;
    transform: translateY(-20px);
}

.login-container form .login-usuario i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #056CF2;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}

.login-container form .login-usuario input:valid ~ i,
.login-container form .login-usuario input:focus ~ i{
    height: 30px;
    background: #056CF2;
    opacity: 0.5;
}

.login-container form .login-esqueceu{
    display: flex;
    justify-content: center;
}

.login-container form .login-esqueceu a{
    margin: 10px 0;
    font-size: 12px;
    color: #89b4ed;
    text-decoration: none;
    
}

.login-container form .login-esqueceu a:hover{
    color: #056CF2;
}

.login-container form .login-btn{
    border-color: #056CF2;
    border-width: 1px;
    outline: none;
    padding: 8px 16px;
    background: #fff;
    width: 100%;
    margin-top: 8px;
    cursor:pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    color: #056CF2;
}

.login-container form .login-btn:hover{
    color: #034AA6;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* RODAPE */
.rodape-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #034AA6;
}
















